@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor01: #8C3503;
    --cor02: #D98927;
    --cor03: #BF6A02;
    --cor04: #26471B;
    --cor05: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container-login {
    width: 100%;
    height: 100vh;
    background-image: url('./midia/img-fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-cor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: color(srgb 0.851 0.537 0.153 / 0.48);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 8%;
    width: 95%;
}

.navbar ul {
    list-style: none;
}

.navbar ul li button {
    background-color: transparent;
    color: white;
    font-size: 0.9rem;
    width: 7vw;
    height: 3.5vh;
    border: 3px solid white;
    border-radius: 0.9rem;
    cursor: pointer;
    transition: 0.2s;
}

.navbar ul li button:hover {
    background-color: var(--cor01);
    border: none;
}

.content-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92%;
    width: 100%;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    width: 50%;
    background-color: white;
    border-radius: 7%;
}

.login form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.login-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 23%;
    gap: 0.3vh;
}

.login-title h1 {
    font-size: 2.6rem;
    color: var(--cor01);
    font-weight: 900;
}

.login-title p {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.75);
}

.login-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 50%;
}

.gap-row{
    margin-bottom: 2vh;
}

.inputs-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 30%;
    gap: 0.4vh;
}

.inputs-row label {
    padding-left: 0.2rem;
    font-size: 1rem;
}

.inputs-row input {
    height: 60%;
    width: 95%;
    border: 2px solid #8c350380;
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 1.1rem;
}

.inputs-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 99%;
    height: 7%;
    gap: 1vw;
}

.content-check{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 0.2vw;
}

.content-check input {
    display: none;
}

.text-check{
    color: var(--cor01);
    font-size: 0.85rem;
    font-weight: 600;
}

.checkmark {
    width: 15px;
    height: 15px;
    border: 2px solid #8c3503a6;
    border-radius: 0.4rem;
    /* aqui arredonda */
    display: inline-block;
    cursor: pointer;
    background-color: #8c35031c;
}

.content-check input:checked+.checkmark {
    background-color: #8C3503;
}

.links-senha a{
    color: var(--cor01);
    font-size: 0.85rem;
    font-weight: 600;
}


.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 23%;
}

.button-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    gap: 0.5rem;
}

.button-row button{
    background-color: var(--cor01);
    color: white;
    font-size: 0.9rem;
    width: 60%;
    height: 5vh;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 1.3rem;
    cursor: pointer;
    transition: 0.2s;
}

.button-row button:hover{
    background-color: #26471B;
}

.button-row p{
    font-size: 0.85rem;
    font-weight: 600;
}

.button-row p span a{
    color: var(--cor01);
    cursor: pointer;
}

.empresa{
    font-size: 0.85rem;
    color: var(--cor01);
    font-weight: 600;
}