/*Stylos padrões*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor01: #8C3503;
    --cor02: #d98927;
    --cor03: #bf6a02;
    --cor04: #26471b;
    --cor05: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/*header*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: var(--cor01);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000000;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 80%;
    gap: 0.5vw;
    cursor: pointer;
}

.nav-logo h1 {
    font-size: 1.4rem;
    color: white;
    font-family: "Raleway", sans-serif;
}

.nav-logo span {
    color: var(--cor02);
    font-family: "Raleway", sans-serif;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2vw;
}

.nav-links ul li {
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
}

.nav-links ul li a {
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
    text-decoration: none;
}

.nav-links ul li a:hover {
    color: var(--cor03);
}

.select a {
    color: var(--cor03) !important;
    font-weight: 600;
}

.nav-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 80%;
    gap: 1.5vw;
}

.nav-login i {
    color: var(--cor05);
    font-size: 2.6rem;
    cursor: pointer;
    transition: 0.2s;
}

.nav-login i:hover {
    color: var(--cor03);
}

.nav-login button {
    background-color: transparent;
    color: white;
    font-size: 0.9rem;
    width: 7vw;
    height: 3.5vh;
    border: 3px solid white;
    border-radius: 0.9rem;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
}

.nav-login button:hover {
    background-color: var(--cor05);
    color: var(--cor01);
    border: none;
}

.divisao-nav {
    height: 10vh;
    width: 100%;
}

/*main*/

.container-geral {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 88vh;
    width: 100%;
}

.container-geral-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    height: 10%;
}

.container-geral-titulo i {
    font-size: 1.6rem;
    padding: 0.5rem;
    border-radius: 0.6rem;

    cursor: pointer;
    transition: 0.3s;
}

.container-geral-titulo i:hover {
    background-color: #26471b;
    color: white;
}

.content-geral {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 80%;
}

.content-geral-left,
.content-geral-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.geral-kpis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 20%;
}

.box-kpis {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;

    border-radius: 0.6rem;
    background-color: #00000007;
}

#alerta {
    border: 2px solid rgba(255, 0, 0, 0.4);
}

#potencial {
    border: 2px solid rgba(179, 179, 58, 0.4);
}

#normal {
    border: 2px solid rgba(0, 128, 0, 0.4);
}

.geral-left-grafico {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 95%;
    height: 70%;
    background-color: #00000007;
    border-radius: 0.5rem;
}

.geral-left-grafico i {
    position: absolute;
    top: 3%;
    right: 3%;

    font-size: 1.6rem;
    color: var(--cor01);

    cursor: pointer;
    transition: 0.3s;
}

.geral-right-titulo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 20%;
    width: 80%;
}

.geral-kpis-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    gap: 3vw;
    padding-left: 2.4%;
}

.geral-kpis-right .box-kpis {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;

    border-radius: 0.6rem;
    background-color: #00000007;
}

.geral-right-grafico {
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: relative;
    width: 70%;
    height: 70%;
    background-color: #00000007;
    border-radius: 0.5rem;

    padding: 0rem 2rem;
}

.geral-right-grafico i {
    position: absolute;
    top: 3%;
    right: 3%;

    font-size: 1.6rem;
    color: var(--cor01);

    cursor: pointer;
    transition: 0.3s;
}

.geral-right-grafico img {
    position: absolute;
    top: 9.5%;
    left: -3.5%;
    height: 76.5%;
    width: 28vw;
    opacity: 0.1;
    z-index: -1;
}