@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor01: #8C3503;
  --cor02: #d98927;
  --cor03: #bf6a02;
  --cor04: #26471b;
  --cor05: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 8vh;
  position: fixed;
  background-color: var(--cor01);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000000;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  gap: 0.5vw;
}

.nav-logo h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  color: white;
}

.nav-logo span {
  font-family: "Raleway", sans-serif;
  color: var(--cor02);
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2vw;
}

.nav-links ul li {
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.nav-links ul li a{
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

.nav-links ul li a:hover{
  color: var(--cor03);
}

.select a{
  color: var(--cor03) !important;
  font-weight: 600;
}

.nav-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  gap: 1.5vw;
}

.nav-login i {
  color: var(--cor05);
  font-size: 2.6rem;
  cursor: pointer;
  transition: 0.2s;
}

.nav-login i:hover{
  color: var(--cor03);
}

.nav-login button {
  background-color: transparent;
  color: white;
  font-size: 0.9rem;
  width: 7vw;
  height: 3.5vh;
  border: 3px solid white;
  border-radius: 0.9rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.nav-login button:hover{
  background-color: var(--cor05);
  color: var(--cor01);
  border: none;
}

header {
	height: 50vh;
	width: 100%;
	display: flex;
	background-image: linear-gradient(rgba(217, 137, 39, 0.4), rgba(217, 137, 39, 0.4)), url('../midia/backHeader.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	justify-content: center;
}

.headerContent{
	display: flex ;
	width: 90%;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

header h1{
	font-size: 110px;
}

header p{
	font-size: 20px;
}

.mainContainer{
	display: flex;
	width: 100%;
	height:50vh ;
	justify-content: center;
	align-items: center;
}

.mainContent{
	width: 90%;
	display: flex;
}

.mainFilho1{
	width: 40%;
}

.mainFilho1 p{
	font-size: 32px;
  font-family: "Raleway", sans-serif;
}

.mainFilho1 h1{
	font-size: 96px;
  font-family: "Raleway", sans-serif;
}

.mainFilho1 span{
	font-size: 64px;
	font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.mainFilho2{
	width: 60%;
	border-left: solid 4px var(--cor03);
}

.mainFilho2 p{
	padding-left: 100px;
	font-size:26px ;
	height: 100%;
	padding: 20px;
	text-align: justify;
}

.objetivoContainer{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.objetivoInside{
	display: flex;
	width: 90%;
	gap: 100px;
}

.objetivo{
	width: 50%;
}

.objetivo p{
	font-size: 26px;
}

.objetivo h2{
	font-size: 32px;
	border-left: solid 4px var(--cor03);
	padding-left: 10px;
	margin-bottom: 30px;
}

.imgObjetivo{
	width: 50%;
	justify-content: center;
	align-items: center;
}

.imgObjetivo img{
	width: 80%;
}

.sobreFinal {
    padding: 60px 10%;
    background-color: #26471b; /* fundo escuro moderno */
    color: white;
}

.sobreTopo {
    display: flex;
    align-items: flex-start; /* IMPORTANTE */
    gap: 60px;
    margin-bottom: 80px;
}

/* TEXTO AO LADO */
.conteudoSobre {
    max-width: 500px;
}

/* TÍTULO */
.conteudoSobre h2 {
    font-size: 36px;
    margin-bottom: 20px;
    border-left: 5px solid var(--cor03);
    padding-left: 15px;
}

/* TEXTO MAIS BONITO */
.conteudoSobre p {
    line-height: 1.7;
    font-size: 16px;
    color: #e2e8f0;
}

/* IMAGEM MAIS IMPACTANTE */
.imagemGrande img {
    width: 800px;
    border-radius: 60px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
n-bottom: 200px;}

.bloco {
    background: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.bloco h3 {
    color: var(--cor02);
    margin-bottom: 5px;
}


.textoSobre {
    max-width: 500px;
}

.textoSobre h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: var(--branco);
}

.textoSobre p {
    font-size: 16px;
    line-height: 1.6;
}

/* PARTE DE BAIXO - EQUIPE */
.equipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

/* CARD */
.cardPessoa {
    background: linear-gradient(145deg, #8C3503, #a44a10);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
}

.cardPessoa h3 {
    font-size: 18px;
    letter-spacing: 1px;
}

.cardPessoa img {
    width: 110px;
    height: 110px;
    border: 3px solid var(--cor02);
}

/* HOVER BONITO */
.cardPessoa:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.4);
}

/* IMAGEM */
.cardPessoa img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

/* TEXTO */
.cardPessoa h3 {
    margin-bottom: 5px;
}

.cardPessoa p {
    font-size: 14px;
    color: #cbd5e1;
    margin-bottom: 10px;
}

/* REDES */
.redes a {
    margin: 0 8px;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.redes a:hover {
    color: var(--cor03);
}

.textoSobre {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas */
    gap: 20px;
    color: white;
}

.textoSobre h2 {
    grid-column: span 2; /* título ocupa tudo */
}

.textoSobre p {
    font-size: 14px;
    line-height: 1.6;
    background: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 8px;
}

@media (max-width: 900px) {
    .sobreTopo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .conteudoSobre {
        max-width: 100%;
    }

    .equipe {
        grid-template-columns: 1fr;
    }

    .mainContent {
        flex-direction: column;
    }

    .mainFilho2 {
        border-left: none;
        padding-left: 0;
    }
}

/*footer*/

.container-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 42vh;
  background-color: var(--cor01);
  gap: 0.3vh;
}

.content-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 70%;
}

.content-footer-left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 48%;
    gap: 1vh;
}

.footer-left-title{
  width: 50%;
}

.footer-left-title h1{
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: white;
}

.footer-left-title p{
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

.footer-left-links{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  gap: 1.5vh;
}

.links-telefone, .links-email{
  display: flex;
  gap: 0.7vw;
  cursor: pointer;
}

.links-telefone i, .links-email i{
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.32rem;
}

.links-telefone p, .links-email p{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.content-footer-right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 48%;
}

.footer-box{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30%;
  height: 60%;
}

.footer-box ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1vh;
}

.footer-box ul li{
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

.footer-box ul li:hover{
  color: white;
}

.footer-select{
  color: white !important;
}

.divisao-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 15%;
  border-top: 1px solid #fff;
}

.divisao-footer h3{
  font-size: 0.9rem;
  color: white;
  font-weight: 400;
}