@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --cor01: rgba(140, 53, 3, 1);
  --cor02: #d98927;
  --cor03: #bf6a02;
  --cor04: #26471b;
  --cor05: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container-cadastro {
  width: 100%;
  height: 100vh;
  background-image: url("./midia/img-fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-cor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: color(srgb 0.851 0.537 0.153 / 0.4);
}

.botao-home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  height: 8%;
}

.botao-home button {
  background-color: transparent;
  color: white;
  font-size: 0.9rem;
  width: 7vw;
  height: 3.5vh;
  border: 3px solid white;
  border-radius: 0.9rem;
  cursor: pointer;
  transition: 0.2s;
}

.botao-home button:hover {
  background-color: #8c3503;
  border: none;
}

.content-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92%;
}

.cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 80%;
  background-color: #fff;
  border-radius: 40px;
  margin-bottom: 25px;
}

.cadastro-title {
  text-align: center;
}

.cadastro-title h1 {
  color: #8c3503;
  font-weight: 900;
}

.cadastro-infos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  height: 70%;
}

.infos-left,
.infos-right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  height: 70%;
  gap: 0.5vh;;
}

.cadastro-infos input {
  border: 1.4px solid #8c350393;
  border-radius: 10px;
  width: 100%;
  height: 35px;
}

.cadastro-divisao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2%;
  height: 60%;
}

.texto-aviso h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.4rem;
  color: rgba(0, 0, 0, 0.507);
  margin-bottom: 1.8%;
  padding-left: 1%;
  font-weight: 400;
}

.barra {
  background-color: #8c350385;
  width: 1px;
  height: 80%;
}

.ipt-infosR{
  margin-bottom: 2px;
}

.ipt-infosL{
  margin-bottom: 2px;
}
