@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --cor01: #8C3503;
  --cor02: #d98927;
  --cor03: #bf6a02;
  --cor04: #26471b;
  --cor05: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 8vh;
  position: fixed;
  background-color: var(--cor01);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  gap: 0.5vw;
}

.nav-logo h1 {
  font-size: 1.4rem;
  color: white;
  font-family: "Raleway", sans-serif;
}

.nav-logo span {
  color: var(--cor02);
  font-family: "Raleway", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2vw;
}

.nav-links ul li {
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.nav-links ul li a{
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
  text-decoration: none;
}

.nav-links ul li a:hover{
  color: var(--cor03);
}

.select a{
  color: var(--cor03) !important;
  font-weight: 600;
}

.nav-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  gap: 1.5vw;
}

.nav-login i {
  color: var(--cor05);
  font-size: 2.6rem;
  cursor: pointer;
  transition: 0.2s;
}

.nav-login i:hover{
  color: var(--cor03);
}

.nav-login button {
  background-color: transparent;
  color: white;
  font-size: 0.9rem;
  width: 7vw;
  height: 3.5vh;
  border: 3px solid white;
  border-radius: 0.9rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.nav-login button:hover{
  background-color: var(--cor05);
  color: var(--cor01);
  border: none;
}