/*Stylos padrões*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor01: #8C3503;
  --cor02: #d98927;
  --cor03: #bf6a02;
  --cor04: #26471b;
  --cor05: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/*Header*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 8vh;
  position: fixed;
  background-color: var(--cor01);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  gap: 0.5vw;
  cursor: pointer;
}

.nav-logo h1 {
  font-size: 1.4rem;
  color: white;
  font-family: "Raleway", sans-serif;
}

.nav-logo span {
  color: var(--cor02);
  font-family: "Raleway", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2vw;
}

.nav-links ul li {
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.nav-links ul li a{
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
  text-decoration: none;
}

.nav-links ul li a:hover{
  color: var(--cor03);
}

.select a{
  color: var(--cor03) !important;
  font-weight: 600;
}

.nav-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  gap: 1.5vw;
}

.nav-login i {
  color: var(--cor05);
  font-size: 2.6rem;
  cursor: pointer;
  transition: 0.2s;
}

.nav-login i:hover{
  color: var(--cor03);
}

.nav-login button {
  background-color: transparent;
  color: white;
  font-size: 0.9rem;
  width: 7vw;
  height: 3.5vh;
  border: 3px solid white;
  border-radius: 0.9rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.nav-login button:hover{
  background-color: var(--cor05);
  color: var(--cor01);
  border: none;
}

/*Main*/

.container-home{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-image: url('../assets/midia/home-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-home {
  border-radius: 0 100px 100px 0;
  width: 50%;
  padding: 60px;
  background-color: #26471b;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

.title-home h2 {
  font-size: xx-large;
  color: white;
}

.title-home p {
  margin-top: 10px;
  font-size: x-large;
  color: white;
}

.title-home button{
  background-color: transparent;
  color: white;
  margin-top: 20px;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 100px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.4s;
}

.title-home button:hover {
  color: #26471b;
  background-color: white;
  box-shadow: 0 0 15px white;
}

/*Section valores*/

.container-valores{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-color: var(--cor02);
}

.title-valores{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20%;
}

.title-valores span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  background-color: var(--cor04);
  padding: 1rem;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  color: var(--cor05);
  font-weight: 500;
  font-size: 1.2rem;
}

.content-valores{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  gap: 3.5vw;
}

.box-valores{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 80%;
  width: 25%;
  background-color: #ffffff13;
  border: 1px solid var(--cor05);
  border-radius: 30px;
}

.box-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 35%;
  gap: 1vh;
}

.box-icon img{
    height: 80%;
}

.box-icon h6{
  font-size: 2rem;
  color: var(--cor05);
  font-weight: 400;
}

.box-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 55%;
}

.box-text p{
  text-align: center;
  color: var(--cor05);
  font-size: 1.25rem;
  font-weight: 300;
}

/*section nosso projeto*/

.container-projeto{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  background-color: var(--cor05);
}

.title-projeto{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20%;
}

.title-projeto span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  background-color: var(--cor04);
  padding: 1rem;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  color: var(--cor05);
  font-weight: 500;
  font-size: 1.2rem;
}

.content-projeto{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 80%;
  gap: 3.5vw;
}

.title-content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 10%;
  gap: 0.5vw;
}

.title-content h1{
  font-family: "Raleway", sans-serif;
  color: var(--cor02);
  font-size: 3.5rem;
}

.title-content span{
  color: var(--cor01);
}

.title-content img{
  height: 50%;
}

.box-projeto{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 85%;
}

.box-projeto-left, .box-projeto-right{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  height: 90%;
  gap: 3vh;
}

.box-projeto-left h1{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.box-projeto-left p{
  text-align: justify;
  font-size: 1.3rem;
}

.box-projeto-right img{
  height: 70%;
}